<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Demo Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <a href="~/Home" class="navbar-brand"><i class="glyphicon glyphicon-home"></i>&nbsp;GitHub Demo</a>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <div class="navbar navbar-fixed-bottom">
            <div class="text-center">&copy; @DateTime.Now.Year - BGL Demo</div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
